body {
  margin: 0;
  font-family:'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  color: black

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  color: #1A4645;
  font-size: 5rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
.description {
  width: 25rem; 
  text-align: center;
}
.filterbar {
display: flex;
flex-wrap: wrap; 
}
.movie_body{
  background-color: #266867;
  color: white;
  border-radius: 2%;
  padding: 1.5%;
  margin: 1%;
  box-shadow: 0 1px 1px #282424;
}
.movies{
  display: flex; 
  flex-wrap: wrap;
}
button {
  background-color: #E36414;
  transition-duration: 0.4s;
  border-radius: 2%; 
  color: white
}
button:hover{
  background-color: white;
  color: black
}
button:focus{
  background-color: white;
  color: black

}
.header{
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: start;
}
.filterBar{
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: 3%;
  padding: 1.5%;
  border: 6px dotted #266867;
  border-radius: 2%;
  width: 15rem;
  box-shadow: 0 1px 1px #282424;
}
.grid_container{
  display: grid;
  margin: 1%;
  grid-template-rows: 1fr;
  margin-right: 5rem;
}
.movies_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.agg{
  background-color: #266867;
  color: white;
  border-radius: 2%;
  margin: 0;
  padding: 1%;
  width: 100%;
  box-shadow: 0 2px 2px #282424;
}
h5{
  inline-size: 15rem;
  overflow-wrap: break-word;
}
